    <section class="fiveCard">
        <div class="trashy">
           <div title="click to view user's collection" class="card-title"><a href="/user/{{id}}" class="white-text">{{username}} <i class="fas fa-star"></i></a> </div>
         <div class="card-content"> <p> Last Active:<br>{{ format_date updatedAt}} {{format_time updatedAt}}</p></div>
        </div>
    </section>