    <section class="fiveCard">
        <div class="trashy">
           <a href="/user/{{id}}"><div class="card-title white-text">{{username}} <i class="fas fa-star"></i></div></a> 
         <div class="card-content"> <p> Last Active:<br>{{ format_date updatedAt}} {{format_time updatedAt}}</p></div>
        </div>
    </section>