<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrashParty</title>
    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Google fonts cdn -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="../../public/css/materialize.min.css">
    <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
    <section class="lfPic">

        <!-- COMMENT BACK IN WHEN CHANGED TO HANDLEBARS -->
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Trash Party</a>
                    <a href="#"><img class="center" id="Trashy" src="../../public/images/Trashy.png">
                    </a>
                    <ul id="nav-mobile" class="right">
                        <!-- {{#if loggedIn}} -->
                        <li><a href="/landfill/">Landfill</a></li>
                        <li><a href="/collection/">Collection</a></li>
                        <li><a href="/logout/">Logout</a></li>
                        <!-- {{else}} 
                        <li><a href="/login/">Login</a></li>
                        <li><a href="/signup/">Sign Up</a></li>
                        {{/if}} -->
                    </ul>
                </div>
            </nav>
        </header>
    </section>
    <main>
        <!-- {{#if body}} -->
        <!-- {{{body}}} -->
        <!-- {{/if}} -->
    </main>

</body>

</html>