<i class="fa fa-arrow-left" aria-hidden="true"></i>
<div class="row container">
    {{#each trashList as |fullTrash|}}
    {{> listTrash}}
    {{/each}}
</div>

<<<<<<< HEAD
=======
<script src="/js/collectionHandler.js"></script>
>>>>>>> a864258d21bc6766713bb2026f815927042abd19
