<i class="fa fa-arrow-left" aria-hidden="true"></i>
<div class="row container">
    {{#each trashList as |fullTrash|}}
    {{> listTrash}}
    {{/each}}
</div>

<script src="/js/collectionHandler.js></script>
