<section>
    <a href="/"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
<h2 class="center">{{username}}'s Trash</h2>
<hr>
<div class="row container">
    {{#each trashList as |fullTrash|}}
    {{> listTrash}}
    {{/each}}
</div>

<script src="/js/collectionHandler.js"></script>