<section class="dash">
<h2 class="center">{{username}}'s Dashboard 
    <a title="click me"class='dropdown-trigger' href='#' data-target='dropdown1'>
        <i class="white-text fa fa-info-circle" aria-hidden="true"></i>
    </a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li class="flow-text"> Click the buttons to do the stuff. <br> <br> You beautiful piece of trash you!</li>
   
  </ul>
  </h2>
<hr>
<br>
<h4 class="tp-text-slate">Welcome.</h4>
<div class="action-panel center">
    <h5>Action Panel</h5>
    <a href="/pack" class="waves-effect waves-light btn"><i class="fas fa-gift right"></i>Open Pack</a>
    <a href="/landfill" class="waves-effect waves-light btn"><i class="fas fa-exchange-alt right"></i>Visit Landfill</a>
    <a href="/collection" class="waves-effect waves-light btn"><i class="fas fa-th right"></i>View Collection</a>
</div>
</section>