<section class="dash">
<h2 class="center">{{username}}'s Dashboard</h2>
<hr>
<br>
<h3>Welcome, {{username}}!</h3>
<div class="action-panel trashy">
    <h5>Action Panel</h5>
    <a href="/pack" class="waves-effect waves-light btn-large"><i class="fas fa-gift right"></i>Open Pack</a>
</div>
</section>