<section class="login-signup">
        <div class=" login card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/images/login.png">
            </div>
            <hr>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Login<i
              class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Login<i class="material-icons right">close</i></span>
                <div class="row">
                    <form class="col s12">

                        <div class="row">
                            <div class="input-field col s10">
                                <input placeholder="email@domain.com" id="emailLogin" type="email" class="validate">
                                <label for="emailLogin">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s10">
                                <input id="passwordLogin" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <a href="/login" id="loginBtn" class="btn submitBtn waves-effect waves-light" type="submit">Login
                                <i class="material-icons right">lock_open</i>
                              </a>
                        </div>
                </div>
            </div>
        </div>

        <div class="signup card">
            <div class="activator card-image waves-effect waves-block waves-light">
                <img class="activator" src="/images/signup.png">
            </div>
            <hr>

            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Sign Up<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">

                <span class="card-title grey-text text-darken-4 cardTitle">Create a new account<i class="material-icons right">close</i></span>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s10">

                                <input placeholder="JohnnyDOE" id="userNameSignUp" type="text">

                                <label for="userNameSignUp">Username</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s10">
                                <input placeholder="email@domain.com" id="emailSignUp" type="email" class="validate">
                                <label for="emailSignUp">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s10">
                                <input placeholder='Password' id="passSignUp" type="password" class="validate">
                                <label class="passLabel" for="passSignUp">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <a href="/signup" id="signupBtn" class="btn submitBtn waves-effect waves-light" type="submit">Sign Up<i class="material-icons right">person_add</i></a>
                        </div>
                </div>
            </div>
        </div>

    </div>
</div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/login.js"></script>