<section class="trashy center no-pack">
    <img src="/images/Sad_Trashy.png" alt="Trashy the trash-panda is crying">
    <p>Sorry, you have no packs available.</p>
    <p id="timerTxt">You should be back in your dashboard in 5 seconds.</p>

</section>
<script src="/js/nopack.js"></script>