<section>

<h2 class="center">Make a Trade Offer</h2>

<hr>
<div class="row container">
    {{#each trashList as |fullTrash|}}
    {{> listCollectionTrash}}
    {{/each}}
</div>
</section>

<script src = "/js/makeRequest.js"></script>