<div id="splash" class="container">
    <h1 class="white-text">Welcome to Trash<span class="twoTone">Party</span><h1>
        <h3>This is a SPLASH SCREEN</h3>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/splash.js"></script>