<section class="trades">
    <h2 class="center">Trades</h2>
    <hr>
    <div class="row tradesDiv">
        <div class="tradeBlock">
        <h4>Incoming Trade Requests</h4>
        {{#if tradeRequests}} 
            {{#each tradeRequests as |request|}} 
            {{> listRequests}} 
            {{/each}} 
        {{else}}
            <p class="center white-text"> No Pending Trade Requests</p>
        {{/if}}
        </div>
    </div>
    <div class="row tradesDiv">
        <div class="tradeBlock">
            <h4>Outgoing Trade Requests</h4>
            {{#if pendingTrades}} 
                {{#each pendingTrades as |request|}} 
                {{> listPendingTrades}} 
                {{/each}} 
            {{else}}
            <p class="center white-text"> No Pending Trade Requests</p>
            {{/if}}
        </div>
    </div>
</section>

<script src="/js/tradeHandler.js"></script>